@import "font/stylesheet.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "monument_extendedregular";
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  cursor: none;
  background-color: white;
}

button,
a {
  cursor: none;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

.cursorFollower {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid white;
  border-radius: 50%;
  pointer-events: none;
  animation: radius infinite 2s;
  mix-blend-mode: difference;
  z-index: 1000000;
}

.cursorDot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5px;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  /* z-index: 3; */
}

@keyframes radius {
  0% {
    height: 3rem;
    width: 3rem;
  }

  50% {
    height: 4rem;
    width: 4rem;
  }

  100% {
    height: 3rem;
    width: 3rem;
  }
}

.dark-mode {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  width: 0rem;
  height: 0rem;
  background-color: rgb(37, 26, 26);
  border-radius: 50%;
  transition: all 500ms ease-out;
  z-index: -1;
  transform: translate(-1rem, 1rem);
}

.dark {
  width: 220vw;
  height: 220vw;
  transform: translate(calc(110vw - 3rem), calc(-110vw + 3rem));
  transition: all 500ms ease-out;
}

.dark-mode-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  mix-blend-mode: exclusion;
  border: 1px solid;
  z-index: 2;
  transition: width 200ms ease-out, height 200ms ease-out, top 200ms ease-out,
    right 200ms ease-out;
}

.dark-mode-btn:hover {
  width: 3rem;
  height: 3rem;
  top: 1.5rem;
  right: 1.5rem;
  transition: width 200ms ease-out, height 200ms ease-out, top 200ms ease-out,
    right 200ms ease-out;
}

.dark-mode-btn:hover + #themeBtn {
  display: none;
}

.logo svg {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 1000;
  width: 5rem;
  z-index: 2000;
}

.logo text {
  font-size: 10px;
}

.logo textPath {
  fill: white;
  mix-blend-mode: exclusion;
}

.logo path {
  display: none;
}

.textPath {
  word-spacing: 1.5rem;
}

.hero {
  height: 100vh;
  mix-blend-mode: difference;
  margin: auto;
  padding-top: 33vh;
}

.content-container {
  margin: auto;
  width: 70vw;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-head {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 100px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  /* overflow: hidden; */
}
.hero-head > div {
  position: relative;
  margin: 0;
}

.text-heading {
  width: 900px;
}

.hero-main {
  width: 70vw;
  min-width: 10rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-right: auto;
  font-size: calc(2rem + 5vw);
  font-weight: 800;
  height: calc(2rem + 5vw);
  color: rgb(248, 248, 248);
  mix-blend-mode: difference;
}

.hero-main:first-child {
  margin-left: -5rem;
}

.span2 {
  /* display: none; */
  position: absolute;
  top: calc(-2rem - 5vw);
  line-height: calc(2rem + 5vw);
}

.hero-main span {
  width: 100%;
  position: absolute;
  line-height: calc(2rem + 5vw);
  transform: translateX(-50%);
}

.span-left {
  left: 50%;
}

.hero-sub {
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  color: rgb(248, 248, 248);
}

.hero-para {
  color: rgb(145, 144, 144);
  max-width: 28rem;
  margin-top: 10rem;
}

.about-image {
  width: 280px;
  height: 280px;
  object-fit: contain;
  background-color: black;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
}

.about-para {
  margin: 2rem;
  margin-left: 4rem;
  max-width: 60rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: white;
  mix-blend-mode: difference;
}

.project-container {
  padding-bottom: 7rem;
}

.image {
  position: relative;
  /* z-index: 2; */
  /* overflow: hidden; */
  border-radius: 1rem;
  /* top: 10rem;
  left: 10rem; */
  margin-left: 7rem;
}

.image video {
  width: 60rem;
  filter: brightness(0.7);
  border-radius: 1rem;
  /* margin-left: 7rem; */
}

.projects {
  font-size: 7rem;
  color: white;
  mix-blend-mode: difference;
  margin-left: 3rem;
  margin-bottom: 4rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-left: 3rem;
  margin-bottom: 5rem;
}

.project-index {
  position: absolute;
  top: 15rem;
  display: inline-block;
  font-size: 17rem;
  transform: rotate(-90deg);
  color: transparent;
  font-weight: 500;
  -webkit-text-stroke: 4px rgb(122, 97, 97);
  opacity: 0.2;
  z-index: 2;
}

.image:nth-child(even) {
  transform: translateX(10rem);
}

.image:nth-child(even) .project-index {
  left: 46rem;
  transform: rotate(90deg);
}

.image:nth-child(odd) .project-index {
  left: -14rem;
}

.navbar {
  display: flex;
  position: fixed;
  right: 0;
  top: calc(50vh - 2rem);
  /* gap: 1rem; */
  transform: rotate(90deg) translateY(-11rem);
  z-index: 2000;
  color: white;
  mix-blend-mode: difference;
  padding: 0 5rem 5rem 5rem;
}

.navbar span {
  margin: 0rem 0rem;
  padding: 1.5rem 0rem;
  padding-right: 1.5rem;
  background-color: bisque;
  background: linear-gradient(to right, #fff, #fff);
  background-size: 0% 0.1em, 0 0.1em;
  background-position: 0% 70%, 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.3s;
  transform: scale(1);
}

.navbar span:hover {
  background-size: calc(100% - 1.5rem) 0.1em, 0 0.1em;
  transition: all 0.3s;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: white;
  mix-blend-mode: difference;
  position: relative;
  overflow: hidden;
}

.footer-main {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.contact-form {
  display: flex;
  width: 45rem;
  flex-direction: column;
  margin-right: 8rem;
  gap: 2rem;
  /* margin-left: 12rem; */
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  padding-left: 1.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  border: 2px solid black;
  resize: none;
}

.contact-form button {
  width: 7rem;
  border-radius: 2rem;
  border: 2px solid black;
  background-color: black;
  padding: 1rem;
  color: white;
  align-self: flex-end;
}

.footer-logo {
  /* display: inline-block; */
  padding: 5rem 0 0 5rem;
  width: 20vw;
  height: 20vw;
  /* position: absolute; */
  /* bottom: 30%; */
  /* mix-blend-mode: difference; */
}

.footer-logo svg {
  /* transform: scale(2.5) rotate(30deg); */
  width: 25vw;
}

.footer-logo text {
  font-size: 10px;
}

.footer-logo path {
  display: none;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-social svg {
  height: 30px;
  width: 30px;
}

.footer-social span {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
}

.footer-social span:hover {
  background-color: black;
  /* color: white; */
}

.footer-social span:hover path {
  fill: white;
}

.arrow-link {
  width: 7px;
  height: 7px;
  padding: 0 0.7px 0.3px 0;
}

@media (max-width: 500px) {
  .navbar {
    display: none;
  }

  .logo svg {
    width: 4rem;
    top: 1.5rem;
    left: 1.5rem;
  }
}

.hero-texts {
  display: grid;
  gap: 2rem;
}

.hero-text {
  display: grid;
  height: 5rem;
  grid-template-rows: 2rem;
  align-items: center;
  font-size: 7rem;
  /* line-height: 1; */
  overflow: hidden;
  /* border: 1px solid white; */
  padding: 1.4rem;
}

.menu-item {
  color: white;
}
.menu-item-active {
  color: white;
}
